/* File: front/src/styles/base/_variables-basic.css */
/* Global variables */
:root {
    /* Layout */
    --navbar-height: 50px;
    --banner-height: 150px;

    /* Breakpoints */
    --breakpoint-navbar: 600px;

    /* Other variables */
    --min-content-width: 300px;
    --max-content-width: 1400px;

    /* Colors  */
    --navbar-bg-color: #D1D5DB;
    --banner-bg-color: #111827;
    --content-bg-color: #f3f4f6;
    
}
