/* File: front/src/styles/base/_variables.css */
/* Global variables */

:root {
    /* Navbar height */
    --navbar-height: 60px;

    /* Breakpoints */
    --breakpoint-navbar: 600px;

    /* Other variables */
    --max-content-width: 1200px;
}
