/* src/components/ui/toggle-group.ui.css */
.toggle-group {
  display: flex;
  gap: 10px;
}

.toggle-item {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--color);
  box-shadow:
    inset 5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 10px rgba(255, 255, 255, 1);
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

.toggle-item:hover {
  box-shadow:
    inset 7px 7px 14px rgba(0, 0, 0, 0.15),
    inset -7px -7px 14px rgba(255, 255, 255, 1);
}

.toggle-item.active {
  background-color: var(--active-color);
  box-shadow:
    inset -5px -5px 10px rgba(0, 0, 0, 0.05),
    inset 5px 5px 10px rgba(255, 255, 255, 1);
}
