/* File: src/styles/components/_banner.css */
.banner-wrapper {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.banner-player {
    position: relative;
    top: 0;
    left: 0;
    width: 60%;
    max-height: 70px;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.banner-player:not(:nth-child(2)) {
    opacity: 0;
}

.banner-controls {
    position: relative;
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
}
