/* CSS pre Banner */

.banner {
  background-color: #2e2e2e; /* Tmavosivé pozadie */
  color: #ffffff; /* Biela farba textu */
  text-align: center; /* Zarovnanie textu na stred */
  padding: 20px 30px; /* Zmenšený padding */
  min-height: 100px; /* Minimálna výška */
  max-height: 180px; /* Maximálna výška */
  overflow: hidden; /* Skrytie obsahu presahujúce max-height */
  box-sizing: border-box; /* Padding sa započíta do celkovej výšky */
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Zarovnanie na začiatok osi */
  justify-content: flex-start; /* Zarovnanie na vrch */
  flex-grow: 1; /* Umožní expanziu obsahu */
}
