/* File: src/styles/themes/default.css */

/* Import default variables */
@import '../base/_variables-default.css';

/* Import the basic layout and structure styles */
@import './basic.css';

/*Import components */
@import '../sections/manual-form.content.css';


/* Default theme styles */
body { background-color: var(--body-background-color-default, #f4f4f4); }
header { background-color: var(--header-background-color-default, #ffffff); }
footer { background-color: var(--footer-background-color-default, #ffffff); }



