/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

@media screen and (min-width: 0px) {
  style[data-vite-dev-id] {
    display: none !important;
  }
}
@media screen and (min-width: 0px) {
  script[type="module"][src^="/@react-refresh"],
  script[type="module"][src*="@vite/client"] {
    display: none !important;
  }
}
@media screen and (min-width: 0px) {
  script[type="module"][src*="/react-refresh"],
  script[type="module"][src*="@vite"],
  script[type="module"][src*="/@vite"],
  script[data-vite-dev-id] {
    display: none !important;
  }
}
