/* File: src/components/TimeColumn.css */

.time-columns-wrapper {
    border: 4px solid blue;
    cursor: ns-resize;
    height: 200px;
    overflow: hidden;
  }
  
  .time-column {
    border: 1px solid red;
    overflow: hidden;
    display: inline-block;
  }
  
  .time-item {
    text-align: center;
  }